<!DOCTYPE html> <!--文件型態-->
<html>
	<head>
		<meta charset="utf-8">
		<title></title> <!--網頁標題-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}"/>
        
    </head>
    <body class="body">
        <div class="top">
            <div class="welcometext">失敗頁面</div>
        </div>
        <div class="login">
            <div>{{result}}</div>
            </div>
        </div>

    <script>

    </script>
    </body>
</html>
