<!DOCTYPE html> <!--文件型態-->
<html>
	<head>
		<meta charset="utf-8">
		<title></title> <!--網頁標題-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}"/>
        
    </head>
    <body class="body">
        <div class="top">
            <div class="welcometext">歡迎光臨，請輸入帳號密碼</div>
        </div>
        <div class="login">
            <form class="loginform" onsubmit="return check()" action="/signin" method="POST">
                <div>登入系統</div>
                <label>帳號 </label><input type="text" name="account"></input></br>
                <label>密碼 </label><input type="text" name="password"></input></br>
                <label>同意條款</label><input class="check-box" type="checkbox" name="checkdata"></input></br>
                <button>登入</button>
            </div>
        </div>

    <script>
        function check(){
            let checkbox = document.getElementsByClassName("check-box")[0];
            if(!checkbox.checked){
                alert("Please check the checkbox first");
                return false;
            }
            else{return true;}
        }

    </script>
    </body>
</html>
