<!DOCTYPE html> <!--文件型態-->
<html>
	<head>
		<meta charset="utf-8">
		<title></title> <!--網頁標題-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}"/>
        
    </head>
    <body class="body">
        <div class="top">
            <div class="welcometext">歡迎光臨，這是會員頁</div>
        </div>
        <div class="login">
            <div>{{result}}，歡迎登入系統</div>
        </div> 
        <div class="logout">
            <a href="/signout">登出系統</a>
        </div>
        <hr/>
        <form class="msgform" action="/createMessage" method="POST">
            <div>快來留言吧</div>
            <label>內容</label><input type="text" required name="msg"></input>
            <button>送出</button>
        </form>
        <hr/>
        <div class="msgcontent">
            {% for content in contents %}
                {% set message, name = content %}
                {{ name }} : {{ message }}<br/>
            {% endfor %}
        </div>        

    <script>

    </script>
    </body>
</html>
